@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

body {
    max-width: 1200px;
    min-width: 375px;
    margin: 0 auto;
    font-family: sans-serif;
    color: #000;
}

header {
    width: 1200px;
    height: 100px;
}

header ul {
    width: 200px;
    display: flex;
}

header li a {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

header ul li a:hover {
    color: #6b6dd9;
}

.ani {
    animation: ani 0.5s ease-in-out alternate infinite;
    position: relative;
    top: 0;
}

@keyframes ani {
    0% {
        top: 0;
    }

    100% {
        top: -10px;
    }
}

main .intro {
    background: linear-gradient(to right, rgb(212, 244, 250), rgb(218, 217, 255));
    height: 600px;
    width: 100%;
    position: relative;
}

main .intro .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main .intro .text p {
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 700;
    text-shadow: 0px 3px 4px rgba(255, 255, 255, 0.5);
}

main .intro .text p:first-child {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 1;
}

main>h1 {
    padding-top: 100px;
    line-height: 40px;
}

main>h1 span {
    color: #6b6dd9;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    border-right: 0.05em solid #777;
    animation: cursor 0.5s ease infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.webProject .web {
    margin: 100px 0;
}

.webProject .web h1 {
    text-transform: uppercase;
    color: #6b6dd9;
    font-weight: bold;
}

.webProject .web .project {
    display: flex;
    justify-content: space-between;
}

.webProject .web .project .mockup {
    height: 350px;
    width: 500px;
    background-size: cover;
    background-position: center;
}

.webProject .web .project .mockup01 {
    background-image: url(../img/hotelMockup.png);
}

.webProject .web .project .mockup02 {
    background-image: url(../img/subwayMockup.png);
}

.webProject .web .project .mockup03 {
    background-image: url(../img/sw19Mockup.png);
}

.webProject .web .project .content {
    padding-left: 100px;
}

.webProject .web .project .content dl {
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    width: 700px;
}

.webProject .web .project .content dl dt {
    width: 30%;
    padding: 12px 0;
    font-weight: bold;
    color: #6b6dd9;
}

.webProject .web .project .content dl dd {
    width: 70%;
    padding: 12px 0;
}

.webProject .web .project .content .link {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

.webProject .web .project .content .link a {
    font-size: 18px;
    text-transform: capitalize;
    background: #6b6dd9;
    border: 2px solid #6b6dd9;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 10px;
}

.webProject .web .project .content .link a:hover {
    border: 2px solid #6b6dd9;
    color: #6b6dd9;
    background: #fff;
}

.designProject h1 {
    text-transform: uppercase;
    color: #6b6dd9;
    font-weight: bold;
    padding-bottom: 50px;
}

.designProject .design {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.designProject .design a {
    height: 300px;
    width: 23%;
    margin: 10px;
    background-size: cover;
    background-position: center top;
}

.designProject .design a:hover {
    opacity: 0.5;
}

.designProject .design a:nth-child(1) {
    background-image: url(../img/design01.png)
}

.designProject .design a:nth-child(2) {
    background-image: url(../img/design02.png)
}

.designProject .design a:nth-child(3) {
    background-image: url(../img/design03.png)
}

.designProject .design a:nth-child(4) {
    background-image: url(../img/design04.png)
}

.designProject .design a:nth-child(5) {
    background-image: url(../img/design05.png)
}

.designProject .design a:nth-child(6) {
    background-image: url(../img/design06.png)
}

.designProject .design a:nth-child(7) {
    background-image: url(../img/design07.png)
}

.designProject .design a:nth-child(8) {
    background-image: url(../img/design08.png)
}

footer {
    text-align: center;
    padding: 50px 0;
    line-height: 26px;
    color: #6b6dd9;
    font-size: 16px;
}

hr {
    opacity: 0.2;
}

@media screen and (max-width:850px) {
    .webProject .web .project {
        flex-flow: column nowrap;
    }

    .webProject .web .project .img {
        width: 100%;
    }

    .webProject .web .project .content {
        width: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.opacity {
    animation: opacity 0.5s;
}
